* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* first secion stylying */
#first_sec {
  height: auto;
  width: 100%;
  background-color: #D6EFD8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* first section divs */
.first_sec_div {
  flex-basis: 45%;
  margin: 10px;
}

/* second sectiom */
#footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 30px;

}

#footer_two {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}

.div {
  flex-basis: 10%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  font-size: 60px;
}

#button {
  height: 50px;
  width: 150px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: white;
  color: purple;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .first_sec_div {
    flex-basis: 90%;
  }

  .first_sec_div h1 {
    font-size: 30px;
  }

  .icons h1 {
    font-size: 15px;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .first_sec_div {
    flex-basis: 100%;
  }

  .first_sec_div h1 {
    font-size: 25px;
  }

  .first_sec_div p {
    font-size: 20px;
  }

  #ftitle {
    font-size: 25px;
  }

  .icons h1 {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #first_sec {
    flex-basis: 100%;
  }
}